[submodule "plugins/dotbot"]
	ignore = dirty
	path = plugins/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "plugins/dotbot-brewfile"]
	ignore = dirty
	path = plugins/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "plugins/dotbot-apt"]
	ignore = dirty
	path = plugins/dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
[submodule "plugins/dotbot-golang"]
	ignore = dirty
	path = plugins/dotbot-golang
	url = https://github.com/delicb/dotbot-golang
[submodule "links/.dotfiles"]
	path = links/.dotfiles
	url = https://github.com/TakashiAihara/.dotfiles
[submodule "links/.ssh"]
	path = links/.ssh
	url = https://github.com/TakashiAihara/.ssh
[submodule "links/etc"]
	path = links/etc
	url = https://github.com/TakashiAihara/etc
[submodule "links/rclone"]
	path = links/rclone
	url = https://github.com/TakashiAihara/rclone
