<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolateygui" />
  <package id="chromium" />
  <package id="dotnetfx" />
  <package id="jq" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="sakuraeditor" />
  <package id="vcredist2010" />
  <package id="youtube-dl" />
  <package id="yt-dlp" />
</packages>