<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AirParrot-3" />
  <package id="autohotkey.install" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolateygui" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chromium" />
  <package id="dotnetfx" />
  <package id="jq" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="multimonitortool" />
  <package id="pyenv-win" />
  <package id="sakuraeditor" />
  <package id="vb-cable" />
  <package id="vcredist140" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vmrc" />
  <package id="youtube-dl" />
  <package id="yt-dlp" />
</packages>